<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="styles/header.css">
    
    <header>
        <div class="logo">
            <a href="home" class="icon-link">
                <!-- <i class="fas fa-home"></i> -->
                <img src="assets/tinyDog.png">
            </a>
        </div>
        <div class="right-icons">
            <a href="shoppingCart" class="icon-link">
                <i class="fas fa-shopping-cart fa-2x"></i>
            </a>
            <a href="login" class="icon-link">
                <i class="fas fa-user fa-2x"></i>
            </a>
        </div>
    </header>
    <script>
        var button = document.getElementsByClassName("submit");
        button.addEventListener("click", function() {
        // Open a new page when the button is clicked
        window.open("new_page.html", "_blank"); // Replace "new_page.html" with the URL of the page you want to open
    });
    </script>
    <body>
        <H1> Administrator Login </H1>
        <input type="text" name="username" placeholder="Username" class="username">
        <br>
        <br>
        <input type="password" name="password" placeholder="Password" class="password">
        <input type="password" name="email" placeholder="Email" class="email">
        <br>
        <br>
        <!-- add selectors instead of text input -->
        <br>
        <br>
        <button type="submit" class="submit">Confirm</button>
        <br>
        <br>
        <!-- add password logic -->
    </body>
</html>