<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="styles/header.css">

    <header>
        <div class="logo">
            <a href="productPage" class="icon-link">
                <!-- <i class="fas fa-home"></i> -->
                <img src="assets/tinyDog.png">
            </a>
        </div>
        <div class="right-icons">
            <a href="shoppingCart" class="icon-link">
                <i class="fas fa-shopping-cart fa-2x"></i>
            </a>
            <a href="login" class="icon-link">
                <i class="fas fa-user fa-2x"></i>
            </a>
        </div>
    </header>
    
    <body>
        <H1> Login in </H1>
        <input type="text" name="username" placeholder="Username" class="username">
        <br>
        <br>
        <input type="password" name="password" placeholder="Password" class="password">
        <br>
        <br>
        <button type="submit">Confirm</button>
        <br>
        <br>
        <a href="makeAccount">New user?</a>
        <br>
        <a href="adminLogin">Admin Login</a>
        <!-- add password logic -->
    </body>
</html>